:root{
    --my-green: #3bcc3b; /* 61bd96 */
    --my-blue: #2a83e0; /*mb try 89cbfd*/
    --my-red: #cc3b3b;
    --dark: #24222b;
}

html {
    scroll-behavior: smooth;
}

a:hover {
    text-decoration: none !important;
}

.form-control:focus {
    border-color: var(--my-green);
    box-shadow: 0 0 0 0.2rem rgba(var(--my-green),.25)
}

#dark-bg {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1500;
}

.h-100vh {
    height: 100vh !important;
}

.w-15 {
    width: 15% !important;
}

.w-20 {
    width: 20% !important;
}

.w-30 {
    width: 30% !important;
}

.w-40 {
    width: 40% !important;
}

.mw-50 {
    max-width: 50% !important;
}

.h-20 {
    height: 20% !important;
}

.bg-green {
    background-color: var(--my-green);
}

.bg-blue {
    background-color: var(--my-blue);
}

.bg-dark {
    /*background-color: #353535 !important;*/
    background-color: #24222b !important;
}

.bg-light {
    background-color: #fff !important;
}

.btn-green {
    color: #fff;
    background-color: var(--my-green);
    border-color: var(--my-green);
}

.bg-image {
    background-image: url("../images/conferences.png");

    filter: blur(4px) brightness(30%);
    -webkit-filter: blur(4px) brightness(30%);

    height: calc(100vh - 73px);
    width: calc(100vw + 20px);
    left: 10px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.event-bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.side-image {
    min-width: 45%;
    background-position: center;
    /*background-repeat: no-repeat;*/
    background-size: cover;
}

.side-text {
    margin: 15% 10% 0 5%;
}

.side-title {
    text-transform: uppercase;
    width: 60%;
    white-space: nowrap;
}

.side-paragraph {
    font-size: 1.6em;
}

.events-title {
    text-transform: uppercase;
    margin-top: 5%;
}

.events-descripton {
    margin: 0 10%;
}

.event-items {
    margin: 5% 5% 10% 5%;
}

.event-item {
    margin: 1%;
    height: 350px;

    filter: brightness(100%);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.event-name {
    margin: 3px 0 0 0;
}

.popup {
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3000;
    border-radius: 3%;
}

.popup-header, .popup-form {
    font-size: 1.4em;
}

.popup-input {
    font-size: 0.5em !important;
}

.close-icon:hover {
    cursor: pointer;
}

.container-fluid {
    padding: 0;
}

.navbar {
    margin: 0;
    z-index: 2000;
    min-height: 73px;
}

.navbar-dark {
    background-color: #222222 !important;
}

.text-green {
    color: var(--my-green) !important;
}

.border-green {
    border-color: var(--my-green) !important;
}

.text-blue {
    color: var(--my-blue) !important;
}

.border-blue {
    border-color: var(--my-blue) !important;
}

.text-red {
    color: var(--my-red) !important;
}

.main-font {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.nav-item .active {
    color: var(--my-green) !important;
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 1.5em;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--my-green) !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--my-green) !important;
}

.dropdown-item {
    color: white;
}

.dropdown-item.active, .dropdown-item:active {
    /*background-color: var(--my-green);*/
    background-color: white;
    color: black;
}

.dropdown-menu {
    background-color: #222222;
}

#activity-container {
    background-color: #009affe0;
}

#contact-btn {
    min-width: 150px; border-radius: 30px; margin-top: 30px
}

#comment-input {
     min-height: 100px;
}

#popup-container {
    font-size: 2em;
}

.small-section {
    min-height: 40vh;
}

.bx-wrapper .bx-prev {
  background-image: url('../images/controls.png') !important;
}

.bx-wrapper .bx-next {
  background-image: url('../images/controls.png') !important;
}

#month-events {
    list-style: none !important;
    padding-inline-start: 0 !important;
}
