{% extends "base.html" %}
{% block content %}
    {% load static %}
    {% include "navbar.html" %}

    <h1 class="text-white main-font align-self-center mt-5 display-3">ПРАВОВАЯ ПОМОЩЬ ИНВАЛИДАМ</h1>

    <div class="text-paragraph text-white main-font mt-5 mx-5 d-flex align-items-center">
        <h3 class="">АНО «Открытый мир» оказывает бесплатную правовую помощь инвалидам по вопросам
имущественных и неимущественных отношений, консультаций по оформлению льгот, вопросам
наследования.<br>
Для прохождения бесплатного консультирования инвалиду необходимо иметь с собой:<br>
1.Пенсионное удостоверение<br>
2.Паспорт<br>
3.Карту «Москвича»<br>
Запись на консультацию предварительно (минимум за сутки) осуществляется по телефону
+7(499)124-40-94</h3>
        <img class="float-image ml-4" src="{% static 'images/law_help/disabled.jpg' %}">
    </div>

    <style>
        html {
            min-height: 100%;
        }

        .float-image {
            max-height: 400px;
        }
    </style>
{% endblock %}