{% extends "base.html" %}
{% block content %}
    {% load static %}
    {% include "navbar.html" %}

    <h1 class="text-white main-font align-self-center mt-5 display-3">ПРАВОВАЯ ПОМОЩЬ ИНОСТРАННЫМ ГРАЖДАНАМ</h1>

    <div class="text-paragraph text-white main-font mt-5 mx-5 d-flex align-items-center">
        <h3 class="">АНО «Открытый Мир» осуществляет консультирование иностранных граждан по вопросам их прав
как нерезидента РФ, вопросов наследования, судебного и уголовного законодательства, вопросов
семьи и брака.<br>
Для прохождения бесплатного консультирования иностранному гражданину необходимо иметь с
собой:<br>
1.Паспорт с непросроченной визой<br>
2.Свидетельство о регистрации<br>
3.В случае получения статуса беженца, временное разрешение на проживание в субъекте РФ.<br>
Запись на консультацию предварительно (минимум за сутки) осуществляется по телефону
+7(499)124-40-94</h3>
        <img class="float-image ml-4" src="{% static 'images/law_help/foreigners.jpg' %}">
    </div>

    <style>
        html {
            min-height: 100%;
        }

        .float-image {
            max-height: 400px;
        }
    </style>
{% endblock %}