{% extends "base.html" %}
{% block content %}
    {% load static %}
    {% include "navbar.html" %}

    <h1 class="text-white main-font align-self-center mt-5 display-3">ПРАВОВАЯ ПОМОЩЬ ПЕНСИОНЕРАМ</h1>

    <div class="text-paragraph text-white main-font mt-5 mx-5 d-flex align-items-center">
        <h3 class="">АНО «Открытый Мир» консультирует пенсионеров и ветеранов Второй мировой войны, первой,
второй и третьей Чеченских войн, участников боевых действий в Афганистане, ветеранов войны в
Египте и Вьетнаме, по вопросам гражданского законодательства, льгот и социальных выплат.<br>
Для прохождения бесплатного консультирования инвалиду необходимо иметь с собой:<br>
1.Пенсионное удостоверение<br>
2.Паспорт<br>
3.Военный билет<br>
Запись на консультацию предварительно (минимум за сутки) осуществляется по телефону
+7(499)124-40-94</h3>
        <img class="float-image ml-4" src="{% static 'images/law_help/pensioner.jpg' %}">
    </div>

    <style>
        html {
            min-height: 100%;
        }

        .float-image {
            max-height: 400px;
        }
    </style>
{% endblock %}
