{% extends "base.html" %}
{% block content %}
    {% load static %}
    {% include "navbar.html" %}

    <h1 class="text-white main-font align-self-center mt-5 display-3">ПРАВОВАЯ ПОМОЩЬ МАЛОИМУЩИМ</h1>

    <div class="text-paragraph text-white main-font mt-5 mx-5 d-flex align-items-center">
        <h3 class="">АНО «Открытый Мир» осуществляет юридическое консультирование малоимущих и многодетных
                    семей по вопросам материнства и детства, оформлению льгот, а также других вопросов по
                    гражданскому законодательству. <br/>
                    Для прохождения бесплатного консультирования необходимо иметь с собой:<br/>
                    1.Паспорт<br/>
                    2.Свидетельство о рождении несовершеннолетних детей<br/>
                    3.Справку с места работы для работающих родителей<br/>
                    4.Справка о расторжении брака (по необходимости) для матерей-одиночек<br/>
                    5.Справку из центра занятости о состоянии на учете в качестве безработного<br/>
                    Запись на консультацию предварительно (минимум за сутки) осуществляется по телефону
                    +7(499)124-40-94</h3>
        <img class="float-image ml-4" src="{% static 'images/law_help/poor3.jpg' %}">
    </div>
{#    <div class="text-paragraph text-white main-font mt-5 mx-5 d-flex align-items-center">#}
{#        <img class="float-image mr-4" src="{% static 'images/law_help/poor2.jpg' %}">#}
{#        <h3 class="">{% lorem 3 %}</h3>#}
{#    </div>#}

    <style>
        html {
            min-height: 100vh;
        }

        .float-image {
            max-height: 400px;
        }
    </style>
{% endblock %}