{% extends "base.html" %}
{% block content %}
    {% load static %}
    {% include "navbar.html" %}

    <h1 class="text-white main-font align-self-center mt-5 display-3">СОЦИАЛЬНАЯ ПОМОЩЬ ИНВАЛИДАМ</h1>

    <div class="text-paragraph text-white main-font mt-5 mx-5 d-flex align-items-center">
        <h3 class="">АНО «Открытый Мир» организовывает и помогает в софинансировании различных программ по
социальной интеграции инвалидов и маломобильных групп населения.
Наша организация предлагает организацию различные методики реабилитации инвалидов, как в
области их труда, так и отдыха совмещенными со специальными лечебными и
оздоровительными программами.</h3>
        <img class="float-image ml-4" src="{% static 'images/social_help/disableds2.jpg' %}">
    </div>
{#    <div class="text-paragraph text-white main-font mt-5 mx-5 d-flex align-items-center">#}
{#        <img class="float-image mr-4" src="{% static 'images/social_help/disableds1.jpg' %}">#}
{#        <h3 class="">{% lorem 3 %}</h3>#}
{#    </div>#}

    <style>
        html {
            min-height: 100%;
        }

        .float-image {
            max-height: 400px;
        }
    </style>
{% endblock %}