{% extends "base.html" %}
{% block content %}
    {% load static %}
    {% include "navbar.html" %}

    <h1 class="text-white main-font align-self-center mt-5 display-3">СОЦИАЛЬНАЯ ПОМОЩЬ ПЕНСИОНЕРАМ</h1>

    <div class="text-paragraph text-white main-font mt-5 mx-5 d-flex align-items-center">
        <h3 class="">{% lorem 3 %}</h3>
        <img class="float-image ml-4" src="{% static 'images/social_help/pensioners1.jpg' %}">
    </div>
    <div class="text-paragraph text-white main-font mt-5 mx-5 d-flex align-items-center">
        <img class="float-image mr-4" src="{% static 'images/social_help/pensioners2.jpg' %}">
        <h3 class="">{% lorem 3 %}</h3>
    </div>

    <style>
        html {
            min-height: 100%;
        }

        .float-image {
            max-height: 400px;
        }
    </style>
{% endblock %}