{% extends "base.html" %}
{% block content %}
    {% load static %}
    {% include "navbar.html" %}

    <h1 class="text-white main-font align-self-center mt-5 display-3">СОЦИАЛЬНАЯ ПОМОЩЬ МАЛОИМУЩИМ</h1>

    <div class="text-paragraph text-white main-font mt-5 mx-5 d-flex align-items-center">
        <h3 class="">АНО «Открытый Мир» оказывает разнообразную адресную социальную помощь льготным
категориям граждан в области образования (спец. курсы), паллиативной помощи, специальных
реабилитационных программ, организации благотворительных мероприятий, в том числе
распространения льготных билетов на концерты, выставки и спортивные мероприятия.
Наша организация также предоставляет волонтеров для реализации социальных проектов на
территории города Москвы и Московской области.</h3>
        <img class="float-image ml-4" src="{% static 'images/social_help/poor1.jpg' %}">
    </div>
    <div class="text-paragraph text-white main-font mt-5 mx-5 d-flex align-items-center">
        <img class="float-image mr-4" src="{% static 'images/social_help/poor2.jpg' %}">
        <h3 class="">Так же, мы работаем по партнёрской программе с телеканалом «Добрый Мир», который
направлен на освещение социальных проблем российского общества, наименее защищенных
слоев его населения, детей, школьников, инвалидов, престарелых. В программе телекомпании мы
стараемся освещать наиболее актуальные проблемы нашего общества и привлекать внимание к
социальному взаимодействию на базе общих некоммерческих проектов. Телекомпания освещает
многочисленные культурные и общественные события нашего города и России в целом,
постоянно работает студия «живого» эфира, проводятся телепередачи, посвящённые
познавательной тематике, различным конкурсам, премиям от нашего АНО «Открытый Мир» на
различные номинации и спецпризы. В качестве гостей на нашей студии на Шаболовке 13 наши
зрители могут видеть различных деятелей культуры, науки, искусства и политики.
Совестно с телекомпанией «Добрый Мир» АНО «Открытый мир» планирует проведение также
специальных программ и фестивалей, направленных на развитие социального взаимодействия на
всех уровнях российского общества и направленных на сближение различных социальных групп,
воспитание патриотизма и государственности, противостоянию современному кризису семьи и
контркультурных тенденций в обществе.</h3>
    </div>
    <div class="text-paragraph text-white main-font mt-5 mx-5 d-flex align-items-center">
        <h3 class="">Деятельность телеканала «Добрый мир» направлена также на популяризацию коммерческих
социальных проектов, таких как создание службы социального такси «Добрый мир». В данном
сервисе предусмотрено обязательное отчисление на благотворительность с каждой поездки. В
данный момент запущено несколько машин, и мы приглашаем всех желающих принять участие в
данной программе путем перечисления пожертвований, либо помощи в нахождении водителей,
желающих установить наше приложение. Служба такси «Добрый мир» подразумевает под собой
социальное обеспечение водителей, медицинское страхование, помощь в получении лицензии и
регистрации ИП. Также любой человек приводящий водителя, подключающегося к нашему
агрегатору получает бонус от участия в программе «Добро». Данный проект предусматривает в
перспективном плане развитие парка такси до 16000 машин только в городе Москве.</h3>
        <img class="float-image ml-4" src="{% static 'images/social_help/poor3.jpg' %}">
    </div>

    <style>
        html {
            min-height: 100%;
        }

        .float-image {
            max-height: 400px;
        }
    </style>
{% endblock %}