{% extends "base.html" %}
{% block content %}
    {% load static %}
    {% include "navbar.html" %}

    <div class="d-flex flex-column align-items-center" style="margin: 0 20%">
        <div class="events-title display-2 main-font text-white">
            <span>О нас</span>
        </div>

        <p class="text-white main-font text-center" style="font-size: 1.5em">
            Автономная Некоммерческая Организация по оказанию правовой и социальной помощи
            гражданам и организациям «ОТКРЫТЫЙ МИР» оказывает поддержку социально-незащищенным
            категориям граждан, организациям, нуждающимся, инвалидам по проведению юридических
            консультаций в сфере гражданского и административного права.
            Так же мы организуем благотворительные и социальные проекты в области реабилитационного
            туризма и спортивно-досуговой деятельности.
        </p>
    </div>

    <style>
        html {
            height: 100%;
        }
    </style>
{% endblock %}