<!DOCTYPE html>
<html lang="en" class="d-flex flex-column   ">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Open World</title>
{#    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>#}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon-black.ico' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fullpage.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/vanilla-calendar.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/sss.css' %}" />
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-migrate-3.0.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scrolloverflow.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fullpage.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vanilla-calendar.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bxslider.css' %}">
    <script src="{% static 'js/bxslider.min.js' %}"></script>
</head>
<body class="h-100">
    <div id="dark-bg" class="h-100 w-100 d-none">
    </div>

    <div class="container-fluid bg-dark d-flex flex-column h-100">
        {% block content %}
        {% endblock %}
    </div>

    <script>
        function toggleDarkBackground() {
            $("#dark-bg").toggleClass("d-none");
        }

        $("nav").find('li > a[href="' + window.location.pathname + '"]').addClass("active");
        jQuery.fn.outerHTML = function() {
          return jQuery('<div />').append(this.eq(0).clone()).html();
        };

        $(document).ready(function() {
            let html = $('html');
            if (html.height() <= $(window).height())
                html.css('height', $(window).height())
        });

        $(window).resize(function() {
            location.reload();
        })
    </script>
    <script type="text/javascript" src="{% static 'js/sss.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>