{% extends "base.html" %}
{% block content %}
    {% load static %}
    {% include "navbar.html" %}

    <div class="d-flex mb-5">
        <div class="event text-white main-font d-flex flex-column align-items-center mx-5">
                <h1 class="mt-5 display-4" id="event-header">{{ event.name }}</h1>
                <div class="d-none" id="slider-container" style="min-width: 600px;">
                        <div class="slider">
                            <div><img class="d-block w-100 slider-image my-auto" src="#"></div>
                        </div>
                </div>
                <div id="event-description" style="font-size: 1.5rem">
                </div>
        </div>
        <div class="mt-5 d-flex flex-column align-items-center" id="calendar-wrapper">
            <div id="myCalendar" class="vanilla-calendar mt-5"></div>
            <div class="main-font text-white mt-5">
                <ul id="month-events"></ul>
            </div>
        </div>
    </div>

    <style>
        html {
            height: 100%;
            background-color: var(--dark);
        }

        #myCalendar {
            width: 80%;
        }

        .event {
            width: 60%;
        }

        .slider {
            height: 40%;
            width: 90%;
        }

        #calendar-wrapper {
            width: 30%;
        }
    </style>

    <script>

        const month_names = ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь",
            "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"];
        const genitive_month_names = ["Января", "Февраля", "Марта", "Апреля", "Мая", "Июня",
            "Июля", "Августа", "Сентября", "Октября", "Ноября", "Декабря"];
        const month_shortcuts = ["Янв", "Фев", "Мар", "Апр", "Май", "Июн",
            "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек"];
        let myCalendar = new VanillaCalendar({
            selector: "#myCalendar"
        });

        let slider;
        $(document).ready(function(){
            slider = $('.slider').bxSlider({
                mode: 'fade',
                slideWidth: 600,
                adaptiveHeight: true,
            });

            fill_busy_days();
            reload_calendar();
            $(".vanilla-calendar-date--today").click();

        });

        function reload_calendar() {
            $(".vanilla-calendar-date").click(function() {
                var date = $(this).attr("data-calendar-date");
                $.ajax({
                    type: "POST",
                    url: "{% url 'calendar' %}",
                    data: {"date": date, "type": "event"},
                    success: function(data) {
                        render_event(data.event);
                        slider.reloadSlider();
                    }
                });
            });
            fill_busy_days();
        }

        $(".vanilla-calendar-btn").click(function() {
            $(".vanilla-calendar-date").addClass("vanilla-calendar-date--disabled");
            reload_calendar();
        });

        function fill_busy_days() {
            let date = $($(".vanilla-calendar-date")[0]).attr("data-calendar-date");
            $.ajax({
                type: "POST",
                url: "{% url 'calendar' %}",
                data: {"date": date, "type": "busy_days"},
                success: function(data) {
                    $(".vanilla-calendar-date").addClass("vanilla-calendar-date--disabled");
                    console.log(data);
                    $("#month-events").html("");
                    for (let i = 0; i < data.busy_days.length; i++) {
                        $(".vanilla-calendar-date").filter(function() { return $(this).text() == data.busy_days[i] }).removeClass("vanilla-calendar-date--disabled");
                        $("#month-events").append("<li><h4><span class=\"text-green\">" + data.busy_days[i] + " " +
                            genitive_month_names[(new Date(date)).getMonth()] + "</span> - " + data.event_names[i] + "</h4></li>")
                    }
                }
            });
        }

        function render_event(event) {
            $("#event-header").html(event.name);
            $("#event-description").html(event.description);

            let image_divs = $(".slider > div");
            let image_div = $(image_divs[0]).outerHTML();
            let slider_el = $(".slider");
            let slider_container = $("#slider-container");
            let slider_image;

            if (!event.image_urls.length) {
                slider_container.addClass("d-none");
                slider_el.empty();
                slider_el.append(image_div);
                return;
            }

            slider_el.empty();
            for (let i = 0; i < event.image_urls.length; i++) {
                slider_el.append(image_div);
                slider_image = slider_el.find(".slider-image")[i];
                slider_image.src = '/' + event.image_urls[i];
                if (i) {
                    $(slider_image).parent().attr('aria-hidden', true);
                    $(slider_image).parent().css('z-index', 0)
                }
            }
            slider_container.removeClass("d-none")
        }

    </script>

{% endblock %}

