{% extends "base.html" %}
{% block content %}
    {% load static %}
    {% include "navbar.html" %}

    <div class="main-font text-white mx-auto d-flex mt-5" style="width: 60%">
        <div class="d-flex flex-column w-50" style="margin-top: 10%">
            <h2 class="text-green">email: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a class="my-2 text-white" href="mailto:openworld@gmail.com">worldnko@gmail.com</a></h2>
            <h2 class="text-green">телефон: &nbsp; <a class="my-2 text-white" href="tel:+62896706255135">+7 (499) 124-40-94</a></h2>
            <h2 class="text-green">адрес: &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;   <span class="text-white">г. Москва, 117218,  <br>Кржижановского 13к2 стр. 1 <br> почтовый ящик 1    </span></h2>
        </div>
        <div class="w-50">
            <h2 class="my-3">Или оставьте свои контактные данные, и мы свяжемся с вами сами:</h2>
            <form class="mt-4 display-4" method="POST">
                {% csrf_token %}
                <input class="mb-4 form-control popup-input" type="text" id="name-input" name="name" placeholder="Имя" required>
                <input class="my-4 form-control popup-input" type="email" id="email-input" name="email" placeholder="Email" required>
                <input class="my-4 form-control popup-input" type="tel" id="phone-input" name="phone" placeholder="Номер телефона">
                <textarea class="mt-4 form-control popup-input" id="comment-input" name="comment" placeholder="Комментарий" style="min-height: 100px"></textarea>
                <button type="submit" class="btn btn-green mt-4 popup-input w-100">Отправить</button>
            </form>
        </div>
    </div>

    <style>
        html {
            height: 100%;
        }
    </style>
{% endblock %}