{% extends "base.html" %}
{% block content %}
    {% load static %}
    {% include "navbar.html" %}
    <div class="w-100 h-100">
        <table class="table w-50 mx-auto mt-5 border-bottom">
        <tbody>
        {% for doc in docs %}
            <tr>
                <td>
                    <a href="/{{ MEDIA_URL }}{{ doc.filename }}" class="d-flex align-items-center">
                        <h3 class="main-font text-white doc-name">{{ doc.filename }}</h3>
                        <img src="{% static 'images/file.svg' %}" height="40" class="ml-auto doc-img">
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>

    <style>
        html {
            height: 100%;
        }
        a:hover > .doc-name {
            color: var(--my-green) !important;
        }
    </style>

    <script>
        $("a").hover(
            function() {
                $(this).find("img")[0].src = "{% static 'images/file-green.svg' %}";
            },
            function() {
                $(this).find("img")[0].src = "{% static 'images/file.svg' %}";
            },
        )
    </script>
{% endblock %}
