{% extends "base.html" %}
{% block content %}
    {% load static %}
    {% include "navbar.html" %}

    <h1 class="text-white main-font align-self-center mt-5 display-3">КАК СДЕЛАТЬ ПОЖЕРТВОВАНИЕ</h1>



    <style>
        html {
            min-height: 100%;
        }
    </style>
{% endblock %}