{% extends "base.html" %}
{% block content %}
    {% load static %}
    {% include "navbar.html" %}

    <div class="d-flex flex-column align-items-center h-100">
                <div class="events-title display-2 main-font text-white">
                    <span>Правовая помощь</span>
                </div>
                <div class="d-flex flex-wrap event-items justify-content-around mb-5 w-100">


                    <a class="w-20" href="{% url 'law_help_poor' %}">
                        <div class="event-item d-flex flex-column align-items-center justify-content-center text-white main-font "
                         style="background-image: url('{% static 'images/poor2.jpg' %}')">
                            <h3 class="bg-text event-bg-text">Малоимущие</h3>
                        </div>
                    </a>
                    <a class="w-20" href="{% url 'law_help_pensioners' %}">
                        <div class="event-item d-flex flex-column align-items-center justify-content-center text-white main-font"
                             style="background-image: url('{% static 'images/pensioners2.jpeg' %}')">
                            <h3 class="bg-text event-bg-text">Пенсионеры</h3>
                        </div>
                    </a>
                    <a class="w-20" href="{% url 'law_help_disabled' %}">
                        <div class="event-item d-flex flex-column align-items-center justify-content-center text-white main-font"
                                   style="background-image: url('{% static 'images/disableds2.jpg' %}')">
                            <h3 class="bg-text event-bg-text">Инвалиды</h3>
                        </div>
                    </a>
                    <a class="w-20" href="{% url 'law_help_foreigners' %}">
                        <div class="event-item d-flex flex-column align-items-center justify-content-center text-white main-font"
                                   style="background-image: url('{% static 'images/foreigners.jpg' %}')">
                            <h3 class="bg-text event-bg-text">Иностранные граждане</h3>
                        </div>
                    </a>
                </div>
            </div>

    <style>
        html {
            height: 100%;
        }
    </style>
{% endblock %}