{% extends "base.html" %}
{% block content %}
    <div id="fullpage">
        <div class="section">
            <div class="h-100vh">
                {% load static %}
                {% include "navbar.html" %}
                <div class="bg-image"></div>
                <div class="bg-text">
                    <img src="{% static 'images/banner.svg' %}" class="h-20">
                </div>
            </div>
        </div>

        <div class="section">
            <div class="d-flex flex-column flex-lg-row h-100vh bg-dark">
                <div class="side-image h-100 flex-grow-1" style="background-image: url('{% static "images/wecan1.jpg" %}')">
                </div>
                <div class="side-text h-100 flex-grow-1 main-font">
                    <div class="side-title display-3">
                        <span class="text-green">Мы можем:</span>
                    </div>
                    <div class="side-paragraph text-white">
                        Юридические консультации для льготных категорий граждан и организаций. <br>Поддержка НКО по взаимодействию с ГУ Минюста РФ
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="d-flex flex-column-reverse flex-lg-row h-100vh bg-dark">
                <div class="side-text h-100 flex-grow-1 main-font">
                    <div class="side-title display-3">
                        <span class="text-blue">Мы можем:</span>
                    </div>
                    <div class="side-paragraph text-white">
                        Реабилитационный туризм и проведение благотворительных спортивно-досуговых мероприятий
                    </div>
                </div>
                <div class="side-image h-100 flex-grow-1" style="background-image: url('{% static "images/wecan2.jpg" %}')">
                </div>
            </div>
        </div>
        <div class="section">
            <div class="d-flex flex-column flex-lg-row h-100vh bg-dark">
                <div class="side-image h-100 flex-grow-1" style="background-image: url('{% static "images/wecan3.jpg" %}')">
                </div>
                <div class="side-text h-100 flex-grow-1 main-font">
                    <div class="side-title display-3">
                        <span class="text-green">Мы можем:</span>
                    </div>
                    <div class="side-paragraph text-white">
                        Социальная помощь для незащищенных и малоимущих групп населения
                    </div>
                </div>
            </div>
        </div>


        <div class="section">
            <div class="d-flex flex-column align-items-center h-100vh" id="activity-container">
                <div class="events-title display-2 main-font text-white">
                    <span>Чем мы занимаемся</span>
                </div>
                <div class="events-descripton">
                    <h3 class="main-font text-white text-center">Основной целью организации является предоставление социальной и правовой помощи льготным категориям
                        граждан и организациям, а также благотворительные проекты в социально-досуговой сфере, образовательном туризме и специальных культурных программах.</h3>
                </div>
                <div class="d-flex flex-wrap event-items justify-content-around mb-5 w-100">

                    <div class="w-15">
                        <a href="{% url 'social' %}">
                            <div class="event-item d-flex flex-column align-items-center justify-content-center text-white main-font"
                             style="background-image: url('{% static 'images/social_activitiy.jpg' %}')">
                                <h3 class="bg-text event-bg-text">Социальная помощь</h3>
                            </div>
                        </a>
                    </div>
                    <div class="w-15">
                        <a href="{% url 'law_help' %}">
                            <div class="event-item d-flex flex-column align-items-center justify-content-center text-white main-font"
                                 style="background-image: url('{% static 'images/law_activity.jpg' %}'); background-position: right;">
                                <h3 class="bg-text event-bg-text">Правовая помощь</h3>
                            </div>
                        </a>
                    </div>
                    <div class="w-15">
                        <a href="{% url 'tourism' %}">
                            <div class="event-item d-flex flex-column align-items-center justify-content-center text-white main-font"
                                       style="background-image: url('{% static 'images/ecotourism.jpg' %}')">
                                <h3 class="bg-text event-bg-text">Реабилитационный туризм</h3>
                            </div>
                        </a>
                    </div>
                    <div class="w-15">
                        <a class="w-15" href="{% url 'sport_activity' %}">
                            <div class="event-item d-flex flex-column align-items-center justify-content-center text-white main-font"
                                       style="background-image: url('{% static 'images/leisure.jpg' %}')">
                                <h3 class="bg-text event-bg-text">Спортивно-досуговая деятельность</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="d-flex bg-dark small-section">
                <div class="main-font display-3 text-green text-left my-auto mw-50">
                    <div class="mr-5 d-flex justify-content-end">
                        <div class="mr-5 mw-50 align-items-right d-flex">Решились на то, чтобы сделать доброе дело?</div>
                    </div>
                </div>
                <div class="main-font bg-white flex-grow-1">
                    <div class="ml-5 mt-5 pt-5">
                        <h3>Свяжитесь с нами и мы сделаем все, что нужно.</h3>
                        <h3>Мы делаем этот мир лучше!</h3>
                    </div>
                    <button class="btn btn-green main-font ml-5 p-3" id="contact-btn">
                        <h4 id="contact-btn" class="my-auto">Связаться</h4>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="popup d-none flex-column position-absolute justify-content-center main-font">
        <i class="fas fa-times ml-auto mr-4 mt-3 close-icon"></i>
        <div class="pb-5 px-5" id="popup-container">
            <h2 class="my-3 popup-header">Оставьте свои контактные данные</h2>
            <form class="mt-4 popup-form" method="POST">
                {% csrf_token %}
                <input class="mb-4 form-control popup-input" type="text" id="name-input" name="name" placeholder="Имя" required>
                <input class="my-4 form-control popup-input" type="email" id="email-input" name="email" placeholder="Email" required>
                <input class="my-4 form-control popup-input" type="tel" id="phone-input" name="phone" placeholder="Номер телефона">
                <textarea class="mt-4 form-control popup-input" id="comment-input" name="comment" placeholder="Комментарий"></textarea>
                <button type="submit" class="btn btn-green mt-5 popup-input w-100" id="popup-submit">Отправить</button>
            </form>
        </div>
    </div>


    <script>
        $(document).ready(function(){

            if($(window).width() > 768){

                $('#fullpage').fullpage({
                    fitToSection: true,
                    scrollingSpeed: 700,
                    autoScrolling: true,
                    fitToSectionDelay: 1000,
                    scrollOverflow: true,
                    scrollOverflowOptions:{
                    }
                });

            }

            {#$('.section')[4].scrollIntoView();#}
        });

        $("#contact-btn").click(function() {
            toggleDarkBackground();
            $(".popup").toggleClass("d-flex");
            $(".popup").toggleClass("d-none");
        });

        $(".close-icon").click(function() {
            $(".popup").toggleClass("d-none");
            $(".popup").toggleClass("d-flex");
            toggleDarkBackground();
        });

        $(".popup-form").on("submit", function(event) {
            event.preventDefault();
            $.ajax({
               type: "POST",
               url: "{% url 'main' %}",
                data: $(this).serialize(),
                success: function(msg) {
                   console.log("success!\n" + msg);
                }
            });
            $(".close-icon").click();
            console.log('sent');
        });

    </script>
{% endblock %}
