{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark main-font">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse justify-content-lg-center" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-center" style="height: 12%">
            <li class="nav-item" style="height: 80%; padding-bottom: 10px;">
                <a href="{% url 'main' %}"><img src="{% static 'images/navbar-logo.svg' %}" width="50" height="50"></a>
            </li>
            <li class="nav-item ml-2 mr-lg-3" style="font-size: 1.6em">
                <a href="{% url 'main' %}" class="nav-link text-white">Открытый Мир</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link" href="{% url 'about' %}">О нас</a>
            </li>
            <li class="nav-item dropdown mr-lg-3 d-flex flex-column align-items-center">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Виды деятельности</a>
                <div class="dropdown-menu text-center text-lg-left" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'social' %}">Социальная помощь</a>
                    <a class="dropdown-item" href="{% url 'law_help' %}">Правовая помощь</a>
                    <a class="dropdown-item" href="{% url 'tourism' %}">Реабилитационный туризм</a>
                    <a class="dropdown-item" href="{% url 'sport_activity' %}">Спортивно-досуговая деятельность</a>
                </div>
            </li>
            <li class="nav-item mr-lg-3">
                <a class="nav-link" href="{% url 'calendar' %}">Календарь событий</a>
            </li>
            <li class="nav-item mr-lg-3">
                <a class="nav-link" href="{% url 'documents' %}">Документы</a>
            </li>
            <li class="nav-item mr-lg-3">
                <a class="nav-link" href="{% url 'donation' %}">Пожертвование</a>
            </li>
            <li class="nav-item mr-lg-3">
                <a class="nav-link" href="{% url 'contacts' %}">Контакты</a>
            </li>
{#            <li class="nav-item mr-lg-3 border border-green">#}
{#                <a class="nav-link" href="#">Сделать пожертвование</a>#}
{#            </li>#}
        </ul>
    </div>
</nav>
