{% extends "base.html" %}
{% block content %}
    {% load static %}
    {% include "navbar.html" %}

    <div class="d-flex flex-column align-items-center h-100">
                <div class="events-title display-2 main-font text-white">
                    <span>Спортивно-досуговая деятельность</span>
                </div>
                <div class="d-flex flex-wrap event-items justify-content-around mb-5 w-100">
                    <a class="w-40" href="{% url 'sport_leisure_sport' %}">
                        <div class="event-item d-flex flex-column align-items-center justify-content-center text-white main-font "
                         style="background-image: url('{% static 'images/sport.jpg' %}')">
                            <h3 class="bg-text event-bg-text">Спортивные мероприятия</h3>
                        </div>
                    </a>
                    <a class="w-40" href="{% url 'sport_leisure_leisure' %}">
                        <div class="event-item d-flex flex-column align-items-center justify-content-center text-white main-font"
                                   style="background-image: url('{% static 'images/leisure2.jpg' %}')">
                            <h3 class="bg-text event-bg-text">Досуговые мероприятия</h3>
                        </div>
                    </a>
                </div>
            </div>

    <style>
        html {
            height: 100%;
        }
    </style>
{% endblock %}
