{% extends "base.html" %}
{% block content %}
    {% load static %}
    {% include "navbar.html" %}

    <div class="d-flex flex-column align-items-center h-100">
                <div class="events-title display-2 main-font text-white">
                    <span>Реабилитационный туризм</span>
                </div>
                <div class="d-flex flex-wrap event-items justify-content-around mb-5 w-100">
                    <a class="w-30" href="{% url 'tourism_disableds' %}">
                        <div class="event-item d-flex flex-column align-items-center justify-content-center text-white main-font "
                         style="background-image: url('{% static 'images/disableds3.jpg' %}')">
                            <h3 class="bg-text event-bg-text">Люди с нарушением опорно-двигательного аппарата</h3>
                        </div>
                    </a>
                    <a class="w-30" href="{% url 'tourism_mentals' %}">
                        <div class="event-item d-flex flex-column align-items-center justify-content-center text-white main-font"
                             style="background-image: url('{% static 'images/mentals.jpg' %}')">
                            <h3 class="bg-text event-bg-text">Люди с ментальными нарушениями</h3>
                        </div>
                    </a>
                    <a class="w-30" href="{% url 'tourism_deafblinds' %}">
                        <div class="event-item d-flex flex-column align-items-center justify-content-center text-white main-font"
                                   style="background-image: url('{% static 'images/blinds.jpg' %}')">
                            <h3 class="bg-text event-bg-text">Люди с нарушением слуха и зрения</h3>
                        </div>
                    </a>
                </div>
                <div class="d-flex flex-wrap event-items justify-content-center mb-5 w-100">
                    <a class="w-30 mx-lg-5" href="{% url 'tourism_orphans' %}">
                        <div class="event-item d-flex flex-column align-items-center justify-content-center text-white main-font"
                                   style="background-image: url('{% static 'images/orphans.jpg' %}')">
                            <h3 class="bg-text event-bg-text">Сироты и дети из многодетных семей</h3>
                        </div>
                    </a>
                    <a class="w-30 mx-lg-5" href="{% url 'tourism_animals' %}">
                        <div class="event-item d-flex flex-column align-items-center justify-content-center text-white main-font"
                                   style="background-image: url('{% static 'images/animals.jpg' %}')">
                            <h3 class="bg-text event-bg-text">Помощь животным</h3>
                        </div>
                    </a>
                </div>
            </div>

    <style>
        html {
            min-height: 100%;
        }
    </style>
{% endblock %}