{% extends "base.html" %}
{% block content %}
    {% load static %}
    {% include "navbar.html" %}

    <h1 class="text-white main-font align-self-center mt-5 display-3">ПОМОГИ ЖИВОТНЫМ</h1>

    <div class="text-paragraph text-white main-font mt-5 mx-5 d-flex align-items-center">
        <h3 class="">АНО «Открытый Мир» предлагает экскурсии в питомник для бездомных собак «Передний край».
Наша организация готова оказать посильную помощь в размещении брошенных или
потерявшихся животных на станции передержки и в приюты в рамках программы «Овчарка хелп».
Подробности по телефону: +7(499) 124-40-94</h3>
        <img class="float-image ml-4" src="{% static 'images/tourism/animals1.jpg' %}">
    </div>

    <style>
        html {
            min-height: 100%;
        }

        .float-image {
            max-height: 400px;
        }
    </style>
{% endblock %}