{% extends "base.html" %}
{% block content %}
    {% load static %}
    {% include "navbar.html" %}

    <h1 class="text-white main-font align-self-center mt-5 display-3">РЕАБИЛИТАЦИОННЫЙ ТУРИЗМ ДЛЯ СЛЕПЫХ</h1>

    <div class="text-paragraph text-white main-font mt-5 mx-5 d-flex align-items-center">
        <h3 class="">АНО «Окрытый Мир» предлагает специальные однодневные туры на группы до пяти человек для
граждан с нарушением слуха и потерей зрения до 70% по Москве и Московской области.
Подробности по телефону: +7(499) 124-40-94</h3>
        <img class="float-image mr-4" src="{% static 'images/tourism/deafblinds.jpg' %}">
    </div>

    <style>
        html {
            min-height: 100%;
        }

        .float-image {
            max-height: 400px;
        }
    </style>
{% endblock %}