{% extends "base.html" %}
{% block content %}
    {% load static %}
    {% include "navbar.html" %}

    <h1 class="text-white main-font align-self-center mt-5 display-3">РЕАБИЛИТАЦИОННЫЙ ТУРИЗМ ДЛЯ ЛЮДЕЙ С МЕНТАЛЬНЫМИ НАРУШЕНИЯМИ</h1>

    <div class="text-paragraph text-white main-font mt-5 mx-5 d-flex align-items-center">
        <h3 class="">АНО «Окрытый Мир» предлагает специальные заказные туры для людей с ментальными
нарушениями и ментальными особенностями в республику Крым и по всей России в
оздоровительные санатории и профилактории.
Также предлагаются культурно-образовательные экскурсии с гидом по Москве и Московской
области, однодневные походы на расстояние от 7 до 20 километров с остановками.
Подробности по телефону: +7(499) 124-40-94</h3>
        <img class="float-image ml-4" src="{% static 'images/tourism/mentals2.jpg' %}">
    </div>
{#    <div class="text-paragraph text-white main-font mt-5 mx-5 d-flex align-items-center">#}
{#        <img class="float-image mr-4" src="{% static 'images/tourism/mentals1.jpg' %}">#}
{#        <h3 class="">{% lorem 3 %}</h3>#}
{#    </div>#}

    <style>
        html {
            min-height: 100%;
        }

        .float-image {
            max-height: 400px;
        }
    </style>
{% endblock %}