{% extends "base.html" %}
{% block content %}
    {% load static %}
    {% include "navbar.html" %}

    <h1 class="text-white main-font align-self-center mt-5 display-3"></h1>

    <div class="text-paragraph text-white main-font mt-5 mx-5 d-flex align-items-center">
        <h3 class="">АНО «Открытый Мир» предлагает специальные туры для сирот и детей из неполных семей.
Туры проводятся как за рубежом, так и внутри РФ в санаториях и профилакториях РФ и
республики Крым, так и в палаточных лагерях на протяжении летнего сезона (Июнь, Июль, Август).
Подробности по телефону: +7(499)124-40-94</h3>
        <img class="float-image ml-4" src="{% static 'images/' %}">
    </div>
{#    <div class="text-paragraph text-white main-font mt-5 mx-5 d-flex align-items-center">#}
{#        <img class="float-image ml-4" src="{% static 'images/' %}">#}
{#        <h3 class="">{% lorem 3 %}</h3>#}
{#    </div>#}

    <style>
        html {
            min-height: 100%;
        }

        .float-image {
            max-height: 400px;
        }
    </style>
{% endblock %}