{% extends "base.html" %}
{% block content %}
    {% load static %}
    {% include "navbar.html" %}

    <h1 class="text-white main-font align-self-center mt-5 display-3">СПОРТИВНЫЕ МЕРОПРИЯТИЯ</h1>

    <div class="text-paragraph text-white main-font mt-5 mx-5 d-flex align-items-center">
        <h3 class="">АНО «Открытый Мир» организует и проводит спортивно-массовые мероприятия для льготных
категорий граждан всех возрастов на всей территории РФ и за рубежом.<br>
Предлагается различные формы спортивных направлений:<br>
1.Хокей для инвалидов<br>
2.Футбол для инвалидов<br>
3.Бочча<br>
4.Скайбол<br>
5 Карате для инвалидов-колясочников<br>
6 Шахматы для детей с ментальными особенностями<br>
7.Цигун<br>
8 Спортивная стрельба<br>
9.ОФП для инвалидов и лиц на реабилитации<br>
Для записи в секции необходимо связаться по телефону: +7(499)124-40-94</h3>
        <img class="float-image ml-4" src="{% static 'images/sport_leisure/sport2.jpg' %}">
    </div>
{#    <div class="text-paragraph text-white main-font mt-5 mx-5 d-flex align-items-center">#}
{#        <img class="float-image mr-4" src="{% static 'images/sport_leisure/sport2.jpg' %}">#}
{#        <h3 class="">{% lorem 3 %}</h3>#}
{#    </div>#}
{#    <div class="text-paragraph text-white main-font mt-5 mx-5 d-flex align-items-center">#}
{#        <h3 class="">{% lorem 3 %}</h3>#}
{#        <img class="float-image ml-4" src="{% static 'images/sport_leisure/sport3.jpg' %}">#}
{#    </div>#}

    <style>
        html {
            min-height: 100%;
        }

        .float-image {
            max-height: 400px;
        }
    </style>
{% endblock %}